html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.element {
    margin: 100px;
    height: 150px;
    width: 150px;
    background: black;
    animation-name: color, move;
    animation-duration: 3s, 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    /* animation: 3s ease-in-out 1s infinite alternate both running color, 1s ease-in-out 1s infinite alternate both running move;  -shorthand */
}

.element:hover {
    animation-play-state: paused;
}

@keyframes color {
    from {
        background: red;
    }
    50%{
        background: yellow;
        transform: scale(1.5);
    }
    to {
        background: blue;
    }
}

@keyframes move {
    from {
        margin-left: 100px;
    }
    to {
        margin-left: 300px;
    }
}