
p:first-child {
    color: red;
}

p:last-child {
    color: blue;
}

h1:first-of-type {
    color: green;
}

h1:last-of-type {
    color: yellow;
}

tr:nth-child(3) {
    background-color: red;
}

td:only-child {
    background-color: blue;
}

a {
   font-size: 40px;
}

a:link {
    color: black; /* link must be first */
}

a:visited {
    color: red; /* visited must be after link */
}

a:hover {
    color: green; /* hover must be after visited */
}

a:active {
    color: blue; /* active must be after hover */
}

