html {
    box-sizing: border-box;
    font-size: 15px;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
}

.container {
    margin: 20px;
}

.text {
    font-size: 20px;
    width: 30em;
}

p {
    font-size: 2rem;   
    /* em - relative to the parent element, rem - relative to the root element (html) */
}

.text2 {
    font-size: 4vw;  
    /* vw - relative to the viewport width, 4vh = 4% */
    /* vh - relative to the viewport height */
    /* vmin - relative to the viewport's smaller dimension */
    /* vmax - relative to the viewport's larger dimension */
}

.container2 {
    position: relative;
    background-color: bisque;
    /* overflow: scroll;
    height: 150px; */
}

.num {
    border: 2px solid black;
    background-color: #ccc;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    position: relative;
    z-index: 2;
    /* z-index - the higher the value, the more on top */
}

p#positioned {
    position: absolute;
    /* static - default value, not positioned in any special way */
    /* relative - relative to its normal position */
    /* absolute - relative to the first parent element that has a position other than static */
    /* fixed - relative to the viewport */
    /* sticky - based on the user's scroll position */
    top: 20px;
    left: 50px;
    margin: 0;
    background-color: aqua;
    /* width: auto;
    height: auto;
    line-height: 1; */
    z-index: 3;
}