html {
    box-sizing: border-box;
    font-size: 15px;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
}

.container {
    margin: 20px;
}

.text {
    font-size: 20px;
    width: 30em;
}

p {
    font-size: 2rem;   
    
    /* em - relative to the parent element, rem - relative to the root element (html) */
}