html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --colorPrimary: red;
    --colorSecondary: #333;
}

article {
    margin: 20px;
    padding: 30px;
    box-shadow: 0 0 10px var(--colorSecondary);
    color: #333;
}

.article--dark {
    background: #222;
}

.articleImportant {
    color: var(--colorPrimary);
}

.articleMore {
    text-decoration: none;
    color: var(--colorPrimary);
    border: 1px solid;
    padding: 10px 20px;
    display: block;
    width: 150px;
    max-width: 100%;
    text-align: center;
    transition: 0.3s;
}

.articleMore:hover {
    background: var(--colorPrimary);
    color: white;
}