html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --colorPrimary: red;
    --colorSecondary: #333;
}

article {
    margin: 20px;
    padding: 30px;
    box-shadow: 0 0 10px darkolivegreen;
    color: var(--colorSecondary);
}

.article--dark {
    background: #222;
    --colorSecondary: #ccc;
    --colorPrimary: #0f0;
}

.articleImportant {
    color: var(--colorPrimary);
}

.articleHeader {
    color: var(--colorPrimary);
}

.articleMore {
    text-decoration: none;
    color: var(--colorPrimary);
    border: 1px solid;
    padding: 10px 20px;
    display: block;
    width: 150px;
    max-width: 100%;
    text-align: center;
    transition: 0.3s;
}

.articleMore:hover {
    background: var(--colorPrimary);
    color: var(--colorHover, white);
}

.article--dark .articleMore {
   width: calc(100% - 60px);
   margin: 0 30px;
}