html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.body {
    margin: 30px;
    color: #333;
    background-color: #111;
}

.container, .container2, .container3, .container4 {
    border: 1px solid crimson;
    margin: 20px;
    padding: 20px;
    background-color: whitesmoke;
}

.dark {
    background-color: #222;
    color: #eee;
}

.label {
    display: inline-block;
    width: auto;
    text-align: right;
    margin: 0 10px 10px 0;
}