html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: lightblue;
    margin: 20px;
}

.list__item--done {
    text-decoration: line-through;
}

.list__item--highLight {
    background-color: yellow;
}

.js-done {
    border-radius: 2px;
    border: 1px solid black;
}

.js-done__active {
    background-color: #00d26a;
    border-radius: 2px;
    border: 1px solid black;
}

.js-highLight {
    border-radius: 2px;
    border: 1px solid black;
}

.js-highLight__active {
    border-radius: 2px;
    border: 1px solid yellow;
    background-color: black;
}

.js-remove {
    background-color: #ffd0d0;
    border-radius: 2px;
    border: 1px solid red;
}

.js-clearAll {
    background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
}

.with-emoji::before {
    content: "👍 "; /* Dodaj dowolne emoji tutaj */
  }