html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: lightblue;
    margin: 20px;
}

.list__item--done {
    text-decoration: line-through;
}

.list__item--highLight {
    background-color: yellow;
}