html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: lightblue;
    margin: 20px;
}

.form__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: solid 1px black;
    border-radius: 2px;
}

.section__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.form__field:focus {
    background-color: lightgoldenrodyellow;
    outline: none;
    border: solid 1px black;
    border-radius: 2px;
}

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    border: solid 1px black;
    border-radius: 2px;
    padding: 5px;
}

.list__item--done {
    display: none;
}

.task__highLight {
    border-radius: 2px;
    border: 1px solid black;
}

.task__highLight--active {
    border-radius: 2px;
    border: 1px solid yellow;
    background-color: black;
}

.list__item--highLight {
    background-color: yellow;
}

.task__done {
    border-radius: 2px;
    border: 1px solid black;
}

.task__done--active {
    background-color: #00d26a;
    border-radius: 2px;
    border: 1px solid black;
}

.task__content--done {
    text-decoration: line-through;
}

.task__remove {
    background-color: #ffd0d0;
    border-radius: 2px;
    border: 1px solid red;
}

.task__remove:hover {
    background-color: palevioletred;
    border-radius: 2px;
    border: 1px solid red;
}

.task__remove:active {
    background-color: crimson;
    border-radius: 2px;
    border: 1px solid crimson;
}

.thumbUp {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.with-emoji::before {
    content: "👍 ";
}

