body {
    line-height: 2;
}

p:first-child {
    color: red;
}

p:last-child {
    color: blue;
}

h1:first-of-type {
    color: green;
}

h1:last-of-type {
    color: yellow;
}

tr:nth-child(3) {
    background-color: red;
}

td:only-child {
    background-color: blue;
}

a {
    font-size: 40px;
}

a:link {
    color: black;
    /* link must be first */
}

a:visited {
    color: red;
    /* visited must be after link */
}

a:hover {
    color: green;
    /* hover must be after visited */
}

a:active {
    color: blue;
    /* active must be after hover */
}

input, select {
    border: 1px solid black;
}

input:disabled {
    background-color: pink;
}

input, select:enabled {
    background-color: lightgoldenrodyellow;
}

input:focus {
    box-shadow: 2px 2px 2px 2px greenyellow;
}

select:focus {
    box-shadow: 2px 2px 2px 2px greenyellow;
}

input:invalid {
    outline: 2px dashed red;
}

input:valid {
    outline: 2px dashed green;
}

:required {
    border: 1px solid red;
}

/* :optional {
    border: 1px solid blueviolet;
} */

option:checked {
    display: none;
}

p:target {
    background: #ccc;
}

/* p:not(:target) {
    background: #ccc;
} */

/* p:not(:target) - all p elements that are not the target of a link */