html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dateContainer {
    display: flex;
}

.date__header {
    margin-right: 20px;
}

.date__text {
    color: blueviolet;
}

.timeContainer {
    display: flex;
}

.time__header {
    margin-right: 20px;
}

.time__text {
    color: blueviolet;
}

.fullDate {
    display: flex;
    flex-direction: column;
    align-self: start;
}

.date__header {
    margin-bottom: auto;
}

.date__time {
    color: brown;
    margin-bottom: 40px;
}

.otherEx {
    display: flex;
    flex-direction: column;
    align-self: start;
    font-size: large;
}